*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
.vs
/framework/Tests/nupkgs/Module2.1.0.0.snupkg
/framework/Tests/nupkgs/Module2.1.0.0.nupkg
/framework/Tests/nupkgs/Module1.1.0.0.snupkg
/framework/Tests/nupkgs/Module1.1.0.0.nupkg
/framework/Tests/nupkgs
/framework/Tests/NetX.UnitTests/NetX.UnitTests.xml
/framework/Tests/NetX.TestWebApi/NetX.TestWebApi.xml
/framework/Tests/Module2/Module2.xml
/framework/Tests/Module1/Module1.xml
*.snupkg
*.nupkg
